{{ $image:= .Params.image }}
<div
  class="bg-body dark:bg-darkmode-body hover:shadow overflow-hidden rounded-lg">
  {{ if $image }}
    <a href="{{ .RelPermalink }}">
      {{ partial "image" (dict "Src" $image "Context" .Page "Alt" .Title "Class" "mb-6 w-full rounded") }}
    </a>
  {{ end }}
  <div class="p-8 px-3 pb-8 text-center sm:px-8">
    <ul class="mb-4">
      <li class="mr-4 inline-block">
        <a
          href="{{ `team/` | relLangURL }}{{ .Params.Author | urlize }}/"
          class="hover:text-blue-600 dark:hover:text-blue-400 transition-colors">
          <span class="mr-2">{{ partial "icons/user" }}</span
          >{{ .Params.author }}
        </a>
      </li>
      {{ $categories:= .Params.categories }}
      {{ if $categories }}
        <li class="mr-4 inline-block">
          <span class="mr-2">{{ partial "icons/folder" }}</span>
          {{ range $i,$p:= $categories }}
            <a
              href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}/"
              class="hover:text-blue-600 dark:hover:text-blue-400 transition-colors"
              >{{ . | humanize }}{{ if ne $i (sub (len $categories) 1) }}
                {{ "," }}
              {{ end }}
            </a>
          {{ end }}
        </li>
      {{ end }}
    </ul>
    <h3 class="mb-2">
      <a
        href="{{ .RelPermalink }}"
        class="block hover:text-blue-600 dark:hover:text-blue-400 transition-colors">
        {{ .Title }}
      </a>
    </h3>
    <p class="text-text dark:text-darkmode-text">
      {{ .Params.description }}
    </p>
  </div>
</div>
