<footer class="bg-theme-light dark:bg-darkmode-theme-light">
  <div class="border-border dark:border-darkmode-border border-t">
    <div class="container py-4">
      <div class="row items-center">
        <div class="lg:col-6 mb-2 text-center lg:mb-0 lg:text-left">
          <!-- Social icons + links on same line -->
          <div
            class="flex flex-wrap items-center justify-center lg:justify-start gap-2">
            <!-- Social icons -->
            <ul class="social-icons flex gap-2">
              {{ range site.Data.social.main }}
                <li>
                  <a
                    target="_blank"
                    aria-label="{{ .name }}"
                    rel="nofollow noopener"
                    href="{{ .link | safeURL }}">
                    {{ partial (printf "icons/%s" .name) }}
                  </a>
                </li>
              {{ end }}
            </ul>
            <!-- Footer links -->
            <ul class="flex gap-1">
              {{ range site.Menus.footer }}
                <li>
                  <a
                    {{ if findRE `^http` .URL }}
                      target="_blank" rel="noopener"
                    {{ end }}
                    href="{{ if findRE `^#` .URL }}
                      {{ if not $.IsHome }}
                        {{ site.Home.RelPermalink }}
                      {{ end }}{{ .URL }}
                    {{ else }}
                      {{ .URL | relLangURL }}
                    {{ end }}"
                    class="text-sm"
                    >{{ .Name }}</a
                  >
                </li>
              {{ end }}
            </ul>
          </div>
        </div>
        <div class="lg:col-6 mb-2 text-center lg:mb-0 lg:text-right">
          <!-- Company info -->
          <div class="text-light dark:text-darkmode-light text-sm">
            <p class="mb-1">
              {{ site.Params.footer_text | markdownify }}
            </p>
            <p>
              {{ site.Params.copyright | markdownify }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
